<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665736070770-9hbcfrlqq6s3beoi0sv20jh9l8023mha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665736070770-9hbcfrlqq6s3beoi0sv20jh9l8023mha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>665736070770-2gr9ouquf0fcnim7r3oigqt337a2bfvv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSVlbhlQlmcqJ4KgQjgUS9P0bnM17VbeE</string>
	<key>GCM_SENDER_ID</key>
	<string>665736070770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angularfirebase.bringme</string>
	<key>PROJECT_ID</key>
	<string>bringme-250019</string>
	<key>STORAGE_BUCKET</key>
	<string>bringme-250019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665736070770:ios:2d75f1b276b742c90924eb</string>
	<key>DATABASE_URL</key>
	<string>https://bringme-250019.firebaseio.com</string>
</dict>
</plist>