<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ text.about_title }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <span style="text-align: justify;">
        <section class="c-rgblock">
            <div class="o-container">
                <h1 class="c-banner__title" style="text-align: center;font-weight: 700;font-size: 30px;">Epicerie en ligne à Dakar</h1>            
                <h2 class="c-orderpush__title" style="text-align: center;font-size: 18px;">Livraison rapide en 30 min JOUR et NUIT</h2>
            </div>
        </section>
        <section class="c-rgblock">
            <div class="o-container">
                <h4 class="c-orderpush__title">Bring Me livre vos boissons, alcools, produits alimentaires préférés en 30 min nuit et jour <br>C’est en travaillant directement avec les producteurs et importateurs que Bring Me propose une carte évolutive variant selon les saisons et vos sensibilités.</h4>
            </div>
        </section>
    </span>
</ion-content>