ion-item
{
	font-size:14px;
}

ion-item ion-icon
{
	font-size:16px;
}

.menu_img
{
	width: 70%;margin-left: 10%;padding: 10px 10px;
}

ion-title.card-title {
	max-height: 80px !important;
}

ion-tab-bar	{
	padding: 0;
}