.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  
}

.dark-img{
  filter: brightness(0.6);
}

.text-left{
  text-align: left;
}

ion-card-title{
  font-weight: 600;
  font-size: 24px;
}

.bubble-shipping-time{
    position: absolute;
    top: -16px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 50px;
    box-shadow: 2px 2px 6px grey;
    right: 16px;
}

.bubble-shipping-time-marketplace{
    top: calc( 50% + 24px );
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
}

p
{
	padding:10px 2px;
}

.trend
{
	margin-top:-25px;
}
ion-backdrop {
      opacity: 0.3;
    }

    .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 3px 5px 8px 0px grey;
  }

  .card-title {
    position: absolute;
    top: 50%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    transform: translateY(-50%);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: calc( 18% + 2.8em );
    width: 100%;
    color: #fff;
  }

  .location-button{
    height: 32px;
    width: 32px;
    color: white;
  }

}